[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
optuna = "*"
tqdm = "*"

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"

[requires]
python_version = "3.8"
